.other-dates {
  font-size: 1em;
  font-weight: normal;
  color: var(--color-grey-4);
  align-items: center;

  &--flex {
    display: flex;
  }

  &__item {
    width: 25%;
    
    .other-dates__label {
      display: block;
    }
  }

  &__img .weather-image {
    width: 50px; 
  }

  &__pollen {
    text-align: center;
  }
}

@include breakpoint(tablet) {
  .other-dates {
    display: block;

    &__item {
      width: 100%;
      text-align: center;
    }
  }
}
