h1 {
  font-size: var(--title-font-h1);
}

h2 {
  font-size: var(--title-font-h2);
}

h3 {
  font-size: var(--title-font-h3);
}

.title {
  text-transform: uppercase;
  margin: 0.4em 0;

  &--primary {
    font-weight: 600;
    color: var(--color-grey-4);
  }

  &--secondary {
    font-weight: 500;
    color: var(--color-grey-6);
  }
}
