.widget__select {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  color: #212529;
  height: 3em;
  outline: 0;
  background: transparent;
  border: 1px solid darkgray;
  border-radius: 0.4em;
  box-sizing: border-box;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}