.widget__select {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  color: var(--color-grey-5);
  height: 3em;
  outline: 0;
  background: transparent;
  border: 1px solid var(--color-grey-1);
  border-radius: 0.4em;
  box-sizing: border-box;
  box-shadow: var(--box-sh-dark);
  margin-right: 1em;
}