@import './common/variables.scss';
@import './common/mixins.scss';
@import './common/datePickerInput.scss';
@import './components/otherDates/otherDates.scss';
@import './components/selectedDate/selectedDate.scss';
@import './components/title/title.scss';

body {
  color: var(--color-grey-6);
  font-size: 12px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  @include breakpoint("phone") {
    font-size: 16px;
  }
}

.weather-widget {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid var(--color-grey-0);

  @include breakpoint("tablet_big") {
    width: 59em;
  }

  &__title {
    text-align: center;
  }

  & .select {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    color: var(--color-grey-5);
    outline: 0;
    background: transparent;
    border: none;
    margin-right: 1em;
    text-transform: uppercase;
    cursor: pointer;

    @include breakpoint("phone") {
      font-size: 2em;
    }
  }

  &__pickers {
    display: flex;
    margin-bottom: 1em;
  }

  .weather-days__selected-date, .weather-days__other-date {
    border-bottom: 1px solid var(--color-grey-1);
  
    @include breakpoint("phone_big") {
      padding: 1em 0;
    }
  
    @include breakpoint("tablet") {
      border-bottom: none;
    }
  }

  .weather-days__other-dates{
    padding: 0.5em;

    @include breakpoint("tablet") {
      display: inline-flex;
      width: 100%;
      margin-top: 2em;
  
      .weather-days__other-date {
        width: calc(20%);
      }
    }
  }
}

.text-space {
  margin-bottom: 0.2em;
}
